* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 200ms ease,
    color 200ms ease;
}

#app {
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

header nav {
  display: flex;
  width: 75%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 16px 24px;
  backdrop-filter: blur(4px);
  border: 1px solid var(--border);
}

main {
  display: flex;
  width: 100%;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

a,
button {
  font-family: 'Google Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 16px;
  border: none;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--text);
  width: fit-content;
}

li {
  list-style: none;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Google Sans', sans-serif;
  font-weight: 500;
}

input,
textarea {
  border-radius: 6px;
  padding: 8px;
  border: 1px solid var(--border);
  background-color: var(--bg-dark);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  max-width: 75%;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  padding: 24px 0;
}

.auth-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page-title {
  font-size: 48px;
}

.content {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
