* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', sans-serif;
  background-color: #131314;
  color: white;
}

#app {
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 16px 0;
}

main {
  display: flex;
  width: 100%;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: center;
}

a,
button {
  font-family: 'Google Sans', sans-serif;
}

header nav {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  border-radius: 0.75rem;
  padding: 16px 24px;
  backdrop-filter: blur(4px);
}

a {
  text-decoration: none;
  color: #42b983;
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 16px;
  border: none;
  font-weight: 500;
  background-color: #42b983;
}

li {
  list-style: none;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Google Sans', sans-serif;
}

input,
textarea {
  border-radius: 6px;
  padding: 8px;
  border: none;
}
